<!DOCTYPE html>
<html>

{% include head.html %}

<body style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);" leftmargin="0" alink="#000099" link="#000099"
      marginwidth="0" vlink="#990099">


<div align="center">
    <table border="0" width="760" cellspacing="0" cellpadding="0" id="table1" background="images/backdrop.jpg"
           height="580">
        <tr>
            <td width="629" colspan="4" height="116">&nbsp;</td>
            <td width="131" height="116"></td>
        </tr>
        <tr>
            <td width="38">&nbsp;</td>
            <td colspan="3" width="80%" rowspan="2" valign="top">
                <p class="black10point" align="justify">Early Designs was set up to
                    help provide a complete design and assembly service.</p>
                <p class="black10point" align="justify">In house services include
                    everything from <i>schematic capture</i> to <i>prototype assembly</i>.</p>
                <p class="black10point">Industry leading tools:</p>
                <ul style="font-family: Verdana; font-size: 10pt; color: #000000">
                    <li>
                        <p class="black10point">Cadence Allegro</li>
                    <li>Orcad</li>
                    <li>Zuken CadStar</li>
                    <li>AutoCad</li>
                    <li>Offshore manufacturing partnerships for volume assembly</li>
                </ul>
                <p class="black10point">Assistance with RoHS directive (July 1st
                    2006 compliance).</p>
                <p class="black10point">Early Design offers on or off site support.
                    Helping us provide valuable customer support.</td>
            <td width="131" align="right" valign="top" rowspan="2" height="295">&nbsp;</td>
        </tr>
        <tr>
            <td width="38">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="5" height="86">
                <div align="center">
                    <table border="0" width="90%" cellspacing="0" cellpadding="0" id="table2">
                        <tr>
                            <td>
                                <p align="center">
                                    <img border="0" src="images/cadstar.gif" width="119" height="49" alt="Cadstar logo">
                            </td>
                            <td>
                                <p align="center">
                                    <img border="0" src="images/Cadence.gif" width="121" height="37" alt="Cadence logo">
                            </td>
                            <td>
                                <p align="center">
                                    <img border="0" src="images/orcad.gif" width="133" height="49" alt="OrCAD logo">
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td width="38">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td width="131">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="5" height="54" valign="bottom">
                <p align="left">
                    <img border="0" src="images/ed2.jpg" width="200" height="29" longdesc="long_logo_text.htm"
                         alt="Early Designs logo"></td>
        </tr>
        <tr>
            <td colspan="5" bgcolor="#006699" nowrap height="19">
                <p align="left" class="white10point">
                      <font face="Verdana">&nbsp;</font>
                      <font face="Verdana" size="2">
                        <font color="#FFFFFF">t.&nbsp; {{ site.phone }}&nbsp;&nbsp;&nbsp;&nbsp;m.&nbsp; {{ site.mobile }}&nbsp;&nbsp;&nbsp;&nbsp; e.</font>
                        <a class="TenPointBlue" href="mailto:{{ site.email }}?subject=Web enquiry">
                              <font color="#FFFFFF">{{ site.email }}</font>
                        </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="TenPointBlue" target="_blank" href="/policy-statement.pdf">
                              <font color="#FFFFFF">Privacy Policy</font>
                        </a>
                      </font>
              </td>
        </tr>
    </table>
</div>


</body>

</html>
